
.current-weather {
    display: flex;
    box-shadow: 5px 5px 20px #0e0726;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    background: linear-gradient(145deg, rgba(47,30,106,1) 0%, rgba(25,13,66,1) 34%, rgba(27,15,70,1) 65%, rgba(47,30,106,1) 100%);
}

.current-weather-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color:#edd351;
    font-size: 24px;
}

.temperature {
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0;
    white-space: nowrap;
    color: #fff;
}

.humidity {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.humidity-caption {
    font-size: 12px;
    opacity: 0.5;
}

.conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-toggle {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #a19f9f;
    cursor: pointer;
    font-size: 24px;
}

.unit-toggle p {
    color: inherit;
}

.unit-toggle .active {
    color: #fff;
}

@media (max-width: 320px) {
    .current-weather {
        flex-direction: column-reverse;
        align-items: center;
    }
}